.img{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    padding: 20px;
   
}
.list{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    
   

}